<ul>
  <li class="post-list-item">
    <span class="home-date">
      2019-10 » 2019-12
    </span>
    <a href="https://www.naqs.go.kr/" target="_blank">국립농산물품질관리원 현장조사 통합점검시스템 구축</a>
  </li>
  <li class="post-list-item">
    <span class="home-date">
      2020-01 » 2020-12
    </span>
    <a href="https://nedrug.mfds.go.kr/" target="_blank">식품의약품안전처 의약품통합정보시스템 유지보수</a>
  </li>
  <li class="post-list-item">
    <span class="home-date">
      2021-01 »
    </span>
    <a href="https://nedrug.mfds.go.kr/" target="_blank">식품의약품안전처 차세대의약품통합정보시스템 구축(4차)</a>
  </li>
</ul>
